body,html {
height: 100%;
}
body,h1,h2,h3,h4,h5,h6 {
/* font-family: "Amatic SC", sans-serif; */
font-family: "Italiana"
}
p {
    font-family: fairplex-narrow, serif;
font-weight: 400;
font-style: normal;
}
h3 {
    font-family: fairplex-narrow, serif;
font-weight: 700;
font-style: normal;
}

.menu {
display: none;
}
.bgimgAbout {
background-repeat: no-repeat;
background-size: cover;
background-image: url(Pizza4.jpg);
min-height: 100%;
}
.bgimgContact {
background-repeat: no-repeat;
background-size: cover;
background-image: url(finedinning2.jpg);
min-height: 100%;
}
/* Style the video: 100% width and height to cover the entire window */
.myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}